@import 'reset';
@import 'resources';
@import 'base';

body {
  font-family: 'VT323', monospace;

  main {
    padding: 1rem;
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-title {
        max-width: 20rem;
      }
      .img-subtitle {
        width: 10rem;
        padding: 1rem;
      }
    }

    .nav-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        padding: 1rem 3rem;
        border-radius: 1rem;
        cursor: pointer;
        color: $grey;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover {
          color: black;
        }
      }
    }

    .buttons-pages {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      gap: 1rem;
      padding: 2rem;

      button {
        padding: 1rem 3rem;
        border-radius: 1rem;
        cursor: pointer;
        background: $grey;
        color: white;

        &:hover {
          background: $grey-dark;
          font-weight: 600;
        }
      }
    }
    .cards {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding: 2rem;

      .pokemon-card {
        @include shadow();
        width: 200px;
        height: 200px;
        border: 5px solid $red;
        border-radius: 1rem;
        //padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;

        &:hover {
          border: 15px solid $red;
        }

        a {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: nowrap;
          text-decoration: none;
          justify-content: space-between;
          color: white;

          p {
            width: 100%;
            background: $red;
            color: #fff;
            text-align: center;
          }
        }
      }
    }

    .section-pokemon-card-info {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .pokemon-card-info {
        @include shadow();
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border: 12px solid $red;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 2rem;
        min-width: 20rem;

        img {
          width: 10rem;
        }
      }
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
}
